/* Global Styles
--------------------------------------- */
html {
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  padding: 0;
  color: hsl(215, 51%, 70%);
}

/* Body Component
--------------------------------------- */
body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: hsl(216, 50%, 16%);
  width: 18rem;
  padding: 20px;
  border-radius: 10px;
  color: hsl(215, 51%, 70%);
}

main img {
  width: 100%;
  border-radius: 12px;
}

main h3 {
  color: hsl(0, 0%, 100%);
}
main ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

main li:first-child {
  color: hsl(178, 100%, 50%);
}

main li:last-child {
  color: hsl(215, 51%, 70%);
}

main ul img {
  width: auto;
  height: auto;
}

main .creator img {
  width: 20px;
  height: 20px;
}

main p span {
  color: hsl(0, 0%, 100%);
}

/* Hover interaction
--------------------------------------- */
main h3:hover {
  color: hsl(178, 100%, 50%);
}

main p span:hover {
  color: hsl(178, 100%, 50%);
}

main img:hover {
  background-image: url("/images/icon-view.svg");
  position: relative;
  z-index: 1;
}

/* Bottom Footer
--------------------------------------- */
footer {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
footer a {
  color: hsl(228, 45%, 44%);
}
