:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main-BG);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 50px;
}

/* Image section of card
-------------------------------- */

img {
  display: block;
  object-fit: fill;
}

.main-card {
  background-color: var(--very-dark-blue-card-BG);
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
}

.image-container {
  position: relative;
  border-radius: 15px;
}

.image-container:hover {
  background-color: var(--cyan);
}

.image-equilibrium {
  width: 100%;
  border-radius: 15px;
}

.image-equilibrium:hover {
  mix-blend-mode: multiply;
  opacity: 0.55;
}

.image-equilibrium:hover ~ .image-icon-view {
  display: block; /*allows for view icon to show */
}

.image-icon-view {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header and Text Section
-------------------------------- */
h1 {
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 0.05rem;
  margin-top: 25px;
}

h1:hover {
  color: var(--cyan);
}

p {
  color: var(--soft-blue);
  font-weight: 300;
  margin-bottom: 1.8rem;
}
.icon-text {
  display: inline-block;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 7px;
}

.flex-container {
  display: flex;
}

.info {
  display: inline-flex;
  /* margin: auto; */
}

.ethereum {
  margin-right: auto;
}

.eth-text {
  color: cyan;
  font-weight: 600;
}

.clock {
  margin-left: auto;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar-image {
  width: 10%;
  height: 10%;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: inline-block;
}

.avatar-text {
  margin: 0px 0 0px 18px;
  font-size: 0.96rem;
  font-weight: 400;
}

/* hr {
  margin: 21px 0 15px 0;
} */

span {
  color: var(--white);
}

span:hover {
  color: var(--cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
